body {
  height: 100vh;
  margin: 0;
  display: flex;                  /* active flexbox */
  justify-content: center;        /* center horizontally */
  align-items: center;            /* center vertically */
  background: linear-gradient(to top, white, blue);
}

.container {
  text-align: center;
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 12px;
}
